<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
    {% if link.subitems %}
      <ul class="submenu">
        {% for subitem in link.subitems %}
          <li><a href="{{ site.url }}{{ subitem.url }}" {% if subitem.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ subitem.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    </li>
    
    
    
    {% endfor %}
</ul>
